*{
    margin: 0;
    padding: 0;
    font-family:CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif) ;
}
body{
    background-color: #000000;
}
.invert{
    filter: invert(1);
}
.sv1{
    width: 26px;
}
.main{
    margin-right: 6px;
    margin-left: 6px;
    margin-top: 6px;
    display: flex;
   
}
.fir{
    color: white;
    width: 25vw; 
}
.sec{
    color: white;
    background-color: #121212;
    margin-left: 6px;
    border-radius: 7px;
}
.Home{
    margin-top: 8px;
}
.task{
    border-radius: 7px;
    background-color: #121212;
}
.Home ul li{
    font-weight: bold;
    display: flex;
    list-style: none;
    width: 107px;
    align-items: center;
    padding: 10px 10px 10px 0px; 
    gap: 20px;
}
.ho{
    padding: 20px;
}
.sec{
    width: 75vw;
     
}
/* sec libraray */
.library{
    margin-top: 10px;
    border-radius: 7px;
    background-color: #121212;
    width: 25vw;
    height: 70vh;
    position: relative;
}

.book{
    width: 26px;
}
.add{
    position: relative;
    left: 15vmin;
    width: 18px;
}
.lib{
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 15px;
}
.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 5px;
    color: gray;
    font-size: 12px;
    
}
.footer a{
    text-decoration: none;
    color: grey;
}